name: Java CI with Maven

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean package

      - name: Upload Module A Artifact
        uses: actions/upload-artifact@v4
        with:
          name: clipboard-source
          path: clipboard-source/target/clipboard-source-1.0-SNAPSHOT.jar

      - name: Upload Module B Artifact
        uses: actions/upload-artifact@v4
        with:
          name: clipboard-target
          path: clipboard-target/target/clipboard-target-1.0-SNAPSHOT.jar
